@media only screen and (min-width: 72em) {
header img {
width: 128px;
height: auto;
}
      
h1 {
font-size: 3rem;
}
      
.motto {
font-size: 1.3rem;
}
      
nav a {
font-size: 1.1rem;
}
    
.rentals {
grid-template-columns: 1fr 1fr 1fr;
}
.rentals figure:hover {
box-shadow: 5px 5px 13px -1px;
}

table {
margin-left: 20px;
margin-top: 20px;
box-shadow: 8px 8px 15px #628ca6;
    }
    
#prices thead tr th:nth-child(1) {
padding-left: 5em;
padding-right: 5em;
}
    
div.towncard {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 5px;
}
div.towncard section:nth-child(even) img,
div.towncard section:nth-child(odd) img {
float: none;
position:unset;
}
div.towncard section:nth-child(even),
div.towncard section:nth-child(odd) {
text-align: center;
}
div.towncard section {
padding: 10px;
}
}