/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    header img {
        width: 80px;
        height: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
    }

    /*Navigation Section*/
    .navigation {
        display: flex;
    }
    
    button {
        display: none;
    }

    .navigation li{
        display: block;
        flex: 1 1 100%;
    }

    /* Hero image - Weather Summary section */
    .weathersum {
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0.8;
	    border-radius: 10px;
    }

    /* Article section */
    article {
        display: flex;
    }
    #articlebox {
        margin: 20px;
    }

    /* footer Section */
    #contactbox {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1088px;
        margin: 0 auto;
    }
    footer img {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
